* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
/* warrior */
.class-1{
  color: #C79C6E;
}
/* paladin */
.class-2{
  color: #F58CBA;
}
/* hunter */
.class-3{
  color: #ABD473;
}
/* rogue */
.class-4{
  color: #FFF569;
}
/* priest */
.class-5{
  color: #FFFFFF;
}
/* death knight */
.class-6{
  color: #C41F3B;
}
/* shaman */
.class-7{
  color: #0070DE;
}
/* mage */
.class-8{
  color: #69CCF0;
}
/* warlock */
.class-9{
  color: #9482C9;
}
/* monk */
.class-10{
  color: #00FF96;
}
/* druid */
.class-11{
  color: #FF7D0A;
}
/* demon hunter */
.class-12{
  color: #A330C9;
}



.item-0{
  border: 1.5px rgb(75, 75, 75) solid;
}
.item-1{
  border: 1.5px white solid;
}
.item-2{
  border: 1.5px rgb(40, 216, 4) solid;
}
.item-3{
  border: 1.5px blue solid;
}
.item-4{
  border: 1.5px #7610b9 solid;
}
.item-5{
  border: 1.5px rgb(255, 123, 0) solid;
}
.item-6{
  border: 1.5px rgb(216, 216, 125) solid;
}

.loading {
  color: whitesmoke;
  text-align: center;
  width: 100%;
}

.achievement-card {
  margin-top: 10px;
}

.achievement-image {
  border: 2px solid #8e8a31;
}

.achievement-title {
  text-align: center;
}

.progression-title {
  text-align: center;
}

.main-background {
  background-color: rgb(46, 46, 46);
}

.mobile-responsive {
  display: flex;
  flex-direction: column-reverse;
}

.desktop-feed {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid black;
  margin: 10px;
  padding: 5px;
  overflow-x: hidden;
}

#character-desktop {
  display: none;
}

.indiv-item {
  display: flex;
  margin: 5px;
}

.indiv-item-image {
  border-radius: 10px;
  width: 60px;
  height: 60px;
}

.character-container {
  display: flex;
  flex-direction: row;
}

.character-avatar {
  margin: 10px;
  border-radius: 50px;
  border: 3px solid #8e8a31;
}

.character-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto 0;
}

.realm-raid-upper-status {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.raid-display {
  margin: 5px;
  padding: 5px;
  height: 100px;
  width: 160px;
  border-radius: 10px;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid black;
}

.realm-status {
  margin: 5px;
  height: 100px;
  width: 160px;
  border-radius: 10px;
  padding: 5px;
}

.status-true {
  background-color: green;
}

.status-false {
  background-color: pink;
}

.progression-chart {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 250px;
}
.progression-row {
  max-height: 100px;
  margin: 0px 5px;
}

.progression-container {
  height: 130px;
  border: black 3px solid;
  margin: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.progression-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 20px;
}

.progression-difficulty {
  height: 100px;
  width: 47px;
  display: flex;
  flex-direction: column;
}

.gold-text {
  color: gold;
}

.white-text {
  color: white;
}

.purple-text {
  color: #7610b9;
  font-weight: bold;
  text-align: center;
}

.orange-text {
  color: orange;
}

@media only screen and (min-width: 768px) {
  .main-background {
    height: 100vh;
    max-width: 100vw;
    background-image: url("../assets/legion-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #mobile-character {
    display: none;
  }
  #mobile-gear {
    display: none;
  }

  #character-desktop {
    display: flex;
  }

  .character-panel {
    height: 600px;
    width: 600px;
    border: black 3px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background: #4c4c4c;
    background: -moz-linear-gradient(
      top,
      #4c4c4c 0%,
      #595959 12%,
      #666666 25%,
      #474747 39%,
      #2c2c2c 50%,
      #000000 51%,
      #111111 60%,
      #2b2b2b 76%,
      #1c1c1c 91%,
      #131313 100%
    );
    background: -webkit-linear-gradient(
      top,
      #4c4c4c 0%,
      #595959 12%,
      #666666 25%,
      #474747 39%,
      #2c2c2c 50%,
      #000000 51%,
      #111111 60%,
      #2b2b2b 76%,
      #1c1c1c 91%,
      #131313 100%
    );
    background: linear-gradient(
      to bottom,
      #4c4c4c 0%,
      #595959 12%,
      #666666 25%,
      #474747 39%,
      #2c2c2c 50%,
      #111111 60%,
      #2b2b2b 76%,
      #1c1c1c 91%,
      #131313 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
  }

  .character-stat-panel {
    padding: 5px;
    height: 90%;
    max-width: 250px;
    background-color: black;
    margin: auto;
    border-radius: 10px;
  }

  .stat-section {
    color: white;
    text-align: center;
    margin: 10px 0px;
  }

  .stat-list {
    list-style: none;
    text-align: left;
  }

  .character-gear-panel {
    height: 600px;
    width: 400px;
  }

  .gear-panel-top {
    display: flex;
    flex-direction: row;
    height: 80px;
  }

  .panel-top-titles {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
  }

  .gear-main-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .gear-bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5px;
  }

  .gear-img {
    height: 450px;
    width: 250px;
    border: 1.5px #474747 solid;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    background-image: url("../assets/ami-screenshot.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -300px;
    background-size: 500%;
  }


  /* pulled this-- this will center the large image in the center of the containing div */
  .gear-character-profile{
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -10075px;
    right: -9999px;
    margin: auto;
  }

  .gear-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 450px;
    width: 65px;
  }

  .gear-item {
    width: 60px;
    height: 60px;
  }

  #gear-col-left {
    background-image: url("../assets/left-gear-column.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-y: 5px;
    background-position-x: -8px;
  }

  #gear-col-right {
    background-image: url("../assets/right-gear-column.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .gear-weapons {
    display: flex;
    flex-direction: row;
    width: 130px;
    justify-content: space-between;
  }

  .resto-icon {
    height: 70px;
    width: 70px;
    border-radius: 50px;
    margin: 5px;
    border: 3px solid #8e8a31;
  }

  .realm-raid-upper-status {
    margin: 10px;
    width: 40vw;
    display: flex;
    justify-content: space-around;
  }

  .progression-container {
    width: 40vw;
    margin: 10px;
  }

  .desktop-feed {
    margin: 10px;
    height: 40vh;
    width: 40vw;
    padding-left: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: black 3px solid;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .achievement-card {
    margin-top: 10px;
  }

  .achievement-image {
    border: 2px solid #8e8a31;
    border-radius: 10px;
  }

  .mobile-responsive {
    display: flex;
    flex-direction: row-reverse;
    max-width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
  }
}

@media only screen and (max-width: 1070px) and (min-width: 768px) {

  #character-desktop {
    display: flex;
  }

  .main-background {
    height: 100vh;
    max-width: 100vw;
    background-image: url("../assets/legion-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .character-panel {
    margin: 20px;
  }

  .mobile-responsive {
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;
    overflow-x: hidden;
  }

  .realm-raid-upper-status {
    width: 70vw;
  }

  .raid-heading{
    margin-top: 10px;
  }

  .progression-container {
    width: 70vw;
    height: 130px;
    display: flex;
    flex-direction: column;
  }

  .progression-chart{
    display: flex;
    align-content: space-around;
    margin-top: 10px;
  }

  #achievement-feed {
    visibility: hidden;
  }

}
